html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.blog-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: calc(100vh - 100px); /* Adjust based on your footer height */
    flex: 1;
}

.blog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-post {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
  
}

.blog-post h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.blog-post p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.read-more:hover {
    text-decoration: underline;
}

/* Fix the footer at the bottom of the page */

