/* Estilos para la sección de contacto */
#contacto {
    background-color: #000;
    color: #ff0000; /* Texto en rojo */
    padding: 40px 20px; /* Añadir relleno para mejor espaciado */
    text-align: center;
    border-radius: 5px;
    margin: 20px 0; /* Añadir margen para espaciado alrededor de la sección */
    animation: fadeIn 2s ease-in-out; /* Añadir animación de desvanecimiento */
    flex: 1; /* Asegurar que llene el espacio restante */
}

/* Estilos para el contenedor de contacto */
.contacto-container {
    max-width: 800px;
    margin: 0 auto;
    animation: slideIn 1.5s ease-in-out; /* Añadir animación de deslizamiento */
}

/* Estilos para la lista de contacto */
.contacto-lista {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

/* Estilos para cada elemento de la lista de contacto */
.contacto-lista li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out; /* Añadir transición para efecto hover */
}

/* Efecto hover para cada elemento de la lista de contacto */
.contacto-lista li:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
}

/* Estilos para los iconos de la lista de contacto */
.contacto-lista li i {
    margin-right: 10px;
    font-size: 20px;
    color: #ff0000; /* Color rojo para los iconos */
}

/* Estilos para los enlaces de la lista de contacto */
.contacto-lista li a {
    color: #ff0000; /* Texto en rojo */
    text-decoration: none;
    transition: color 0.3s ease-in-out; /* Añadir transición para efecto hover */
}

/* Efecto hover para los enlaces de la lista de contacto */
.contacto-lista li a:hover {
    text-decoration: underline;
    color: #ffffff; /* Cambiar color al pasar el ratón */
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animación de deslizamiento */
@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
