/* Estilos generales para el cuerpo */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000, #ff0000); /* Fondo degradado de negro a rojo */
    color: #ff0000; /* Texto en rojo */
    font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0;
    color: #ff0000; /* Texto en rojo */
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    justify-content: center;
    background-color: #000; /* Fondo negro */
    width: 100%;
    padding: 30px 0; /* Aumentar relleno para una barra de navegación más grande */
    margin: 0; /* Eliminar margen para asegurar que los elementos estén juntos */
}

nav h1 {
    color: #ff0000; /* Texto en rojo */
    margin: 0;
    padding: 0 20px;
    font-size: 28px; /* Aumentar tamaño de fuente */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px; /* Aumentar margen para mayor espaciado */
}

nav a {
    color: #ff0000; /* Texto en rojo */
    padding: 20px 30px; /* Aumentar relleno para una área clicable más grande */
    text-decoration: none;
    text-align: center;
    font-size: 20px; /* Aumentar tamaño de fuente */
}

nav a:hover {
    background-color: #333; /* Fondo más oscuro al pasar el ratón */
}

/* Estilos para las secciones */
section {
    padding: 0; /* Eliminar relleno para asegurar que los elementos estén juntos */
    width: 100%;
    box-sizing: border-box;
    margin: 0; /* Eliminar margen para asegurar que los elementos estén juntos */
    flex: 1; /* Asegurar que llene el espacio restante */
}

/* Estilos para el pie de página */
footer {
    background-color: #000;
    color: #ff0000; /* Texto en rojo */
    text-align: center;
    padding: 20px; /* Aumentar relleno para un pie de página más grande */
    width: 100%;
    position: relative; /* Cambiar posición a relativa */
    bottom: 0; /* Asegurar que el pie de página esté en la parte inferior */
}

/* Estilos para el pie de página fijo */
.fixed-footer {
    position: relative; /* Cambiar posición a relativa */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #ff0000;
    text-align: center;
    padding: 20px;
}

/* Estilos para la sección de héroe */
.hero-section {
    background: linear-gradient(to bottom, #000, #ff0000); /* Fondo degradado de negro a rojo */
    color: #ff0000; /* Texto en blanco */
    padding: 20px; /* Añadir relleno para mejor espaciado */
    margin: 0; /* Eliminar margen para asegurar que los elementos estén juntos */
    border-radius: 5px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    flex: 1; /* Asegurar que llene el espacio restante */
    height: 910px; /* Aumentar altura */
}

/* Estilos para la imagen de héroe */
.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0; /* Eliminar margen para asegurar que los elementos estén juntos */
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 2s ease-in-out; /* Añadir animación de desvanecimiento */
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Clase para añadir animación de rebote */
.animated-image {
    animation: bounce 2s infinite; /* Añadir animación de rebote */
}

/* Animación de rebote */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Estilos para las secciones de about, projects y contact */
#about, #projects, #contact {
    background-color: #000;
    color: #ff0000; /* Texto en rojo */
    padding: 0; /* Eliminar relleno para asegurar que los elementos estén juntos */
    margin: 0; /* Eliminar margen para asegurar que los elementos estén juntos */
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para los títulos de las secciones de about, projects y contact */
#about h2, #projects h2, #contact h2 {
    color: #ff0000; /* Texto en rojo */
}

/* Estilos para los párrafos de las secciones de about, projects y contact */
#about p, #projects p, #contact p {
    color: #ff0000; /* Texto en rojo */
}

/* Estilos para la lista de contenido */
.content-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0; /* Eliminar espacio para asegurar que los elementos estén juntos */
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para cada tarjeta de contenido */
.content-card {
    background-color: #333;
    color: #ff0000; /* Texto en rojo */
    padding: 0; /* Eliminar relleno para asegurar que los elementos estén juntos */
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

/* Estilos para el título de cada tarjeta de contenido */
.content-card h3 {
    margin-top: 0;
    color: #ff0000; /* Texto en rojo */
}

/* Estilos para los párrafos de cada tarjeta de contenido */
content-card p {
    color: #ff0000; /* Texto en rojo */
}

/* Estilos para el encabezado de la aplicación */
.App-header {
    background: linear-gradient(to bottom, #000, #ff0000); /* Fondo degradado de negro a rojo */
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para el contenedor de inicio */
.inicio-container {
    flex: 1; /* Asegurar que llene el espacio restante */
    display: flex;
    flex-direction: column;
}

/* Estilos para la sección de "Estudios y Trabajos" */
#estudios-trabajos {
    background-color: #000;
    color: #ff0000; /* Texto en rojo */
    padding: 40px 20px; /* Añadir relleno para mejor espaciado */
    text-align: center;
    border-radius: 5px;
    margin: 20px 0; /* Añadir margen para espaciado alrededor de la sección */
    animation: fadeIn 2s ease-in-out; /* Añadir animación de desvanecimiento */
}

/* Estilos para el contenedor de "Estudios y Trabajos" */
.estudios-trabajos-container {
    max-width: 1200px; /* Aumentar el ancho máximo para mejor diseño */
    margin: 0 auto;
    animation: slideIn 1.5s ease-in-out; /* Añadir animación de deslizamiento */
    display: flex;
    flex-direction: column;
   	align-items: center;
}

/* Estilos para el título de "Estudios y Trabajos" */
.estudios-trabajos-container h2 {
    color: #ff0000; /* Texto en rojo */
    margin-bottom: 20px;
}

/* Estilos para el contenido de "Estudios y Trabajos" */
.estudios-trabajos-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

/* Estilos para las subsecciones de "Estudios y Trabajos" */
.estudios, .trabajos {
    margin-bottom: 20px;
}

/* Estilos para los títulos de las subsecciones */
.estudios h3, .trabajos h3 {
    color: #ff0000; /* Texto en rojo */
    margin-bottom: 10px;
}

/* Estilos para los párrafos de las subsecciones */
.estudios p, .trabajos p {
    color: #ffffff; /* Texto en blanco */
    text-align: justify;
    line-height: 1.6;
}

/* Animación de deslizamiento */
@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Estilos responsivos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 15px;
    }

    nav {
        padding: 20px 0;
    }

    nav h1 {
        font-size: 24px;
    }

    nav a {
        padding: 15px 20px;
        font-size: 18px;
    }

    .hero-section {
        padding: 15px;
        height: auto;
    }

    .content-card {
        flex: 1 1 calc(50% - 20px);
        padding: 15px;
    }

    .content-card h3 {
        font-size: 1.2em;
    }

    .content-card p {
        font-size: 0.9em;
    }

    footer {
        padding: 15px;
    }

    /* Estilos específicos para la sección "sobre mí" */
    #about {
        padding: 20px;
        text-align: left;
    }

    #about h2 {
        font-size: 1.5em;
    }

    #about p {
        font-size: 1em;
        line-height: 1.5;
    }
}

/* Estilos responsivos para móviles */
@media (max-width: 767px) {
    header {
        padding: 10px;
    }

    nav {
        padding: 15px 0;
        flex-direction: column;
    }

    nav h1 {
        font-size: 20px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav a {
        padding: 10px 15px;
        font-size: 16px;
    }

    .hero-section {
        padding: 10px;
        height: auto;
    }

    .hero-image {
        max-width: 80%; /* Reduce the size of the hero image */
    }

    .content-card {
        flex: 1 1 100%;
        padding: 10px;
    }

    .content-card h3 {
        font-size: 1em;
    }

    .content-card p {
        font-size: 0.8em;
    }

    footer {
        padding: 10px;
    }
}



