/* Estilos para la sección de proyectos */
#projects {
    background-color: #000;
    color: #ff0000; /* Texto en rojo */
    padding: 40px 20px; /* Añadir relleno para mejor espaciado */
    text-align: center;
    border-radius: 5px;
    margin: 20px 0; /* Añadir margen para espaciado alrededor de la sección */
    animation: fadeIn 2s ease-in-out; /* Añadir animación de desvanecimiento */
    flex: 1; /* Asegurar que llene el espacio restante */
}

/* Estilos para la lista de contenido */
.content-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para cada tarjeta de contenido */
.content-card {
    background-color: #333;
    color: #ff0000; /* Texto en rojo */
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out; /* Añadir transición para efecto hover */
}

/* Efecto hover para cada tarjeta de contenido */
.content-card:hover {
    transform: scale(1.00); /* Reducir el aumento de tamaño al pasar el ratón */
}

/* Estilos para el título de cada tarjeta de contenido */
.content-card h3 {
    margin-top: 0;
    color: #ff0000; /* Texto en rojo */
}

/* Estilos para los párrafos de cada tarjeta de contenido */
.content-card p {
    color: #ffffff; /* Texto en blanco */
}

/* Estilos para los enlaces de cada tarjeta de contenido */
.content-card a {
    color: #ff0000; /* Texto en rojo */
    text-decoration: none;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Añadir transición para efecto hover */
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid #ff0000;
    border-radius: 5px;
}

/* Efecto hover para los enlaces de cada tarjeta de contenido */
.content-card a:hover {
    color: #ffffff; /* Cambiar color al pasar el ratón */
    background-color: #ff0000; /* Añadir fondo rojo al pasar el ratón */
}

/* Estilos para la imagen del proyecto */
.project-image {
    max-width: 15%; 
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 2s ease-in-out; /* Añadir animación de desvanecimiento */
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
